# Exclude all files
*.*
# Include latex files
!*.tex
!*.bib
# Include gitignore and readme
!.gitignore
!README.md
# Include Julia, perl and batch files
!*.jl
!*.bat
!*.pl
# ignore the thesis examples
Examples/
# ignore the logos
logos/
# ignore TeXcount history and docs
TeXcount/Doc
TeXcount/History
# Include the count image to show in README
!TeXcount/count.pdf
